* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #f5f5f5;
    color: #333;
    font-family: Arial, sans-serif;
}

#container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

h2 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}

#menu {
    text-align: right;
    margin-bottom: 20px;
}

#saldo {
    font-weight: bold;
    color: #333;
}

#card {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    background-color: #fff;
    border-radius: 5px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.cards {
    text-align: center;
}

.cards h1 {
    font-size: 48px;
    color: #333;
    margin: 0;
}

#historicoJogos {
    margin-bottom: 20px;
}

#numeros {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 15px;
}

#numeros span {
    display: inline-block;
    margin: 5px;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    background-color: #f9f9f9;
    color: #333;
}

input[type="number"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    width: 100%;
}

#mensagem {
    text-align: center;
    margin-bottom: 20px;
}

button {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #333;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

#container-placar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.placar {
    text-align: center;
    flex-basis: 48%;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.vitoria,
.derrota {
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}

#placar-vitoria,
#placar-derrota {
    font-size: 24
}
#hisJogos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 15px;
}